.loginForm{
    @include form();
    &__create{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }   
    input[type=email], input[type=password]{
        margin-top: 10px;
    }


    
}


