.registrationForm{
    @include form();
    &__create{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__radio{
        display: flex;
        margin-top: 10px;
    }
    .name, .password{
        margin-top: 10px;
    }
}

