.searchForm {
    
    //display: flex;
    //flex-direction: column;
    @include form();
   
    &__calendar{
        
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
           
    }
    .guests{
        margin-top: 20px;
    }
    
}

