* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
}
body {
	@include fontStyle();

}

select {
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
	text-decoration: none;
}
h1 {
	@include fontStyle($fontSize: 24, $lineHeight: 29, $fontWeight: 700);
}

h2 {
	@include fontStyle($fontWeight: 700, $fontSize: 19, $lineHeight: 23);
}

h3 {
	@include fontStyle($fontWeight: 700, $fontSize: 12, $lineHeight: 15);
	text-transform: uppercase;
}