doctype html
html(lang='ru')
	head
		title 
	body
		h1 Raul
		h2 Raul
		h3 Raul
		input.input__email(type='text', name='email', placeholder='Email ')
		select.select
			option(value="hi") hi
			option(value="bi") bi
		input.input__date(type='text', name='date', placeholder='ДД.ММ.ГГГГ')
		