doctype html
html(lang='ru')
	head
		title 
	body
		
	
	include ./components/inputEmail.pug
	include ./components/buttons.pug
	include ./components/select.pug
	include ./components/calendar.pug
	include ./components/inputDate.pug
	include ./components/emailSubscription.pug