doctype html
html(lang='ru')
	head
		title 
	body
		
	- var titleArr = ['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь']
	-var titleArr2 = ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']
	include ./utils/mixin.pug
	//-
		+checkboxList(titleArr)
		+checkboxList(titleArr2)
		+star()
		+payment()
		+inputDate()
		+heart()
		+guests()
		+emailSubscription()
		+calendar('прибытие')
		+calendar('выезд')
		+buttonBorderGradient()
		+buttonBgGradient()
		+inputEmail()
	
	include ./components/pagination.pug

	include ./components/searchForm.pug
	include ./components/loginForm.pug
	



	