$darkshade100: #1F2041;
$darkshade75: rgba(#1F2041, .75);
$darkshade50: rgba(#1F2041, .5);
$darkshade25: rgba(#1F2041, .25);
$darkshade5:  rgba(#1F2041, .05);
$purple: #BC9CFF;
$green: #6FCF97;
$lightBlue: #8BA4F9;
$white: #FFFFFF;
$dark: #000000;

$gradient: linear-gradient(180deg, $purple 0%, $lightBlue 100%);
$gradient50: linear-gradient(180deg, rgba($purple, 0.5) 0%, rgba($lightBlue, 0.5) 100%);