
/*flex миксин*/
@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
 display: flex;
 align-items: $align;
 justify-content: $justify;
 flex-direction: $direction;
 flex-wrap: $wrap;
}
/**/
@mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
 background-image: url($url);
 background-repeat: $repeat;
 background-position: $position;
 background-size: $size;
}  
/*стили для шрифтов*/
@mixin fontStyle($fontWeight: normal, $fontSize: 14, $lineHeight: 24, $color: $darkshade100){
font-family: Montserrat;
font-style: $fontWeight;
font-weight: $fontWeight;
font-size: $fontSize + px;
line-height: $lineHeight + px;
color: $color;
}


/*стрелка на право*/
@mixin arrowRight($color: $purple) {
    margin-right: 15px;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 9px;
        height: 9px;
        border-top: 2px solid $color;
        border-right: 2px solid $color;
        transform: rotate(45deg) translate(-35%, -35%);
        pointer-events: none;
        
        
    }
    &::before{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        background: $color;
        width: 14px;
        height: 2px;
    }   
}

/* стрелка вниз */
@mixin arrowDown(){
    position: relative;
    display: flex;
    
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        margin: 7px 17px;
        width: 7px;
        height: 7px;
        border-top: 2px solid $darkshade50;
        border-right: 2px solid $darkshade50;
        transform: rotate(135deg);
        cursor:pointer;
        pointer-events:none;
        transition:.25s all ease;
    }
    &:hover::after {
        border-top: 2px solid $darkshade75;
        border-right: 2px solid $darkshade75;
    }
}
/*круг*/
@mixin roundButton {
    width: 30px;
    height: 30px;
    border:1px solid $darkshade50;
    border-radius: 50%;
}

/*рамка checkbox*/
@mixin roundCheckbox {
    &::after {
        content:'';
        position: absolute;
        top: -1px; 
        bottom: -1px;
        left: -1px; 
        right: -1px;
        background: $gradient;
        border-radius: 4px;
        z-index: -1;
    }
}
/*галочка checkbox*/
@mixin checkMark {
    &::before{
        content: '';
        width: 30px;
        height: 30px;
        top: 50%;
        right: 10%;
        position: absolute;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMSAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNUw0LjUgOC41TDkuNSAzLjUiIHN0cm9rZT0idXJsKCNwYWludDBfbGluZWFyKSIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSI0LjUiIHkxPSIzIiB4Mj0iNC41IiB5Mj0iMTAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0JDOUNGRiIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM4QkE0RjkiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K");
        background-repeat:no-repeat;
        background-position: center;
        transform: translate(25%, -50%);
    }
}


/*для инпутов*/
@mixin inputStyle($width:320, $height:44){
 width: $width + px;
 height: $height + px;
 padding: 13px 15px;
 background: #FFFFFF;
 border: 1px solid $darkshade25;
 border-radius: 4px;
 
 transition-property: border-color, color;
 transition-duration: .5s;
 
 &:hover, &:focus {
  border-color: $darkshade75;
  color: $darkshade75
 }
}

/*элепсоидные кнопки*/
@mixin buttons($background: $gradient, $width: 99, $height: 44, $border: 2) {
	width: $width +px;
	height: $height +px;
	border-radius: 22px;
	position: relative;
	border: $border+px solid transparent;
	background: $background;
	opacity: 1;
	z-index: inherit;
}

/*кнопка ввода для выпадающего окна*/
@mixin buttonDropdown($width:320, $borderColor: $darkshade25){
	max-width: 100%;
    width: $width +px;
    height: 44px;
    border: 1px solid $borderColor;
    border-radius: 4px;  
    display: inline-block;
    padding-left: 15px;

}

@mixin buttonArray( $width:320){
    
    width: $width +px;
    height: 44px;
    border: 1px solid $darkshade25;
    border-radius: 4px;  
    padding-left: 15px;
    display: inline-block;
    
}

@mixin form(){
    width: 380px;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 29px;
    &__title{
        text-align: left;
        margin: 10px 0;
        display: inline-block;
        
    }
    .payment {
        margin-top: 30px;
    }
}




