@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
 display: flex;
 align-items: $align;
 justify-content: $justify;
 flex-direction: $direction;
 flex-wrap: $wrap;
}

@mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
 background-image: url($url);
 background-repeat: $repeat;
 background-position: $position;
 background-size: $size;
}  

@mixin fontStyle($fontWeight: normal, $fontSize: 14, $lineHeight: 24, $color: $darkshade100){
font-family: Montserrat;
font-style: $fontWeight;
font-weight: $fontWeight;
font-size: $fontSize + px;
line-height: $lineHeight + px;
color: $color;
}

@mixin inputStyle($width:320, $height:44){
 width: $width + px;
 height: $height + px;
 padding: 13px 15px;
 background: #FFFFFF;
 border: 1px solid $darkshade25;
 border-radius: 4px;
 
 transition-property: border-color, color;
 transition-duration: .5s;
 
 &:hover, &:focus {
  border-color: $darkshade50;
  @include fontStyle($color: $darkshade75);
 }
}




