.calendar {
    display: flex;
    flex-direction: column;
    &__button{
        @include buttonDropdown($width:150);
        margin-top: 6px;
    }
    &__count {
        @include fontStyle();
        @include arrowDown();
    }
    
    &__text {
        display: flex;
        align-items: center;
        @include fontStyle($color:$darkshade50);
    }
    
}