.star{
    
    &_gradient{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDE1LjI1TDMuODEyNSAxOUw1LjQ1MzEyIDExLjk2ODhMMC4wMTU2MjUgNy4yMzQzOEw3LjE4NzUgNi42MjVMMTAgMC4wMTU2MjVMMTIuODEyNSA2LjYyNUwxOS45ODQ0IDcuMjM0MzhMMTQuNTQ2OSAxMS45Njg4TDE2LjE4NzUgMTlMMTAgMTUuMjVaIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSIxMCIgeTE9Ii0yIiB4Mj0iMTAiIHkyPSIyMiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjQkM5Q0ZGIi8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzhCQTRGOSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPgo=');
    }
    &_border{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDEzLjQyMTlMMTMuNzUgMTUuNjcxOUwxMi43NjU2IDExLjQwNjJMMTYuMDkzOCA4LjVMMTEuNjg3NSA4LjEyNUwxMCA0LjA5Mzc1TDguMzEyNSA4LjEyNUwzLjkwNjI1IDguNUw3LjIzNDM4IDExLjQwNjJMNi4yNSAxNS42NzE5TDEwIDEzLjQyMTlaTTE5Ljk4NDQgNy4yMzQzOEwxNC41NDY5IDExLjk2ODhMMTYuMTg3NSAxOUwxMCAxNS4yNUwzLjgxMjUgMTlMNS40NTMxMiAxMS45Njg4TDAuMDE1NjI1IDcuMjM0MzhMNy4xODc1IDYuNjI1TDEwIDAuMDE1NjI1TDEyLjgxMjUgNi42MjVMMTkuOTg0NCA3LjIzNDM4WiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyKSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyIiB4MT0iMTAiIHkxPSItMiIgeDI9IjEwIiB5Mj0iMjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0JDOUNGRiIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM4QkE0RjkiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K');
    }
}