.calendar
    h3.calendar__title прибытие
    button.calendar__button 
        span.calendar__count
            time(datetime="ДД.ММ.ГГГГ") ДД.ММ.ГГГГ

.calendar
    h3.calendar__title прибытие
    button.calendar__button 
        span.calendar__count
            time(datetime="ДД.ММ.ГГГГ") 19.08.2019