.guests
    button.guests__button
        span.guests__title Сколько гостей
    .guests__dropdown
        ul.guests__list
            li.guests__item
                span.guests__text взрослые
                .guest__counts
                    button.guests__remove -
                    span.guests__count 0
                    button.guests__add +
            li.guests__item
                span.guests__text дети
                .guest__counts
                    button.guests__remove -
                    span.guests__count 0
                    button.guests__add +
            li.guests__item
                span.guests__text младенцы
                .guest__counts
                    button.guests__remove -
                    span.guests__count 0
                    button.guests__add +
        .guests__choice
            button.button__apply применить