.heart
    .heart__button.heart__button_borderGradient
        .heart_gradient     
        span.heart__title.heart__title_gradient 12
    .heart__button.heart__button_border
        .heart_border
        span.heart__title.heart__title_colorDarkshade25 2