form.loginForm(action="") 
    h1.loginForm__title Войти
    +input('Email')
    +input('Пароль')
    +payment('Войти')
    .loginForm__create
        .loginForm__subtitle Нет аккаунта на Toxin?
        +buttonBorderGradient('создать')