form.registrationForm(action="") 
    h1.registrationForm__title Регистрация аккаунта
    +input('name','text', 'Имя')
    +input('name','text','Фамилия')
    .registrationForm__radio
        +radioButton('man', 'Мужчина')
        +radioButton('woman', 'Женщина')
    h3 Дата рождения
    +inputDate()
    h3 Данные для входа в сервис
    +input('email','email','Email')
    +input('password','password','Пароль')
    +payment('перейти к оплате')
    .registrationForm__create  
        .registrationForm__subtitle Уже есть аккаунт на Toxin
        +buttonBorderGradient('Войти')