form.searchForm(action="")
    h2.searchForm__title Найдем номера под ваши пожелания
    .searchForm__calendar
        .calendar
            h3.calendar__title прибытие
            button.calendar__button 
                span.calendar__count
                    time(datetime="ДД.ММ.ГГГГ") ДД.ММ.ГГГГ
        .calendar
            h3.calendar__title прибытие
            button.calendar__button 
                span.calendar__count
                    time(datetime="ДД.ММ.ГГГГ") 19.08.2019
        
    .guests
        h3.guests__title Гости
        button.guests__button
            span.guests__subtitle Сколько гостей
    .payment
        button.payment__button 
            span.payment__text перейти к оплате 