form.searchForm(action="")
    h1.searchForm__title Найдем номера под ваши пожелания
    .searchForm__calendar
        +calendar('прибытие')
        +calendar('выезд')   
    +guests()
    +payment("перейти к оплате")